In [2]:
import findspark
findspark.init('/usr/local/spark')
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Spark DF example").getOrCreate()

In [5]:
customerDF=spark.read.load("/home/hduser/Downloads/sharedfolder/customers.txt",format="csv",sep="\t",inferSchema="true",header="true")

In [6]:
customerDF.show(5)

+-----------+--------------+-------------+--------------+----------------+
|customer_id| customer_name|customer_city|customer_state|customer_zipcode|
+-----------+--------------+-------------+--------------+----------------+
|      11039|   Mary Torres|       Caguas|            PR|             725|
|       5623|    Jose Haley|     Columbus|            OH|           43207|
|       5829|    Mary Smith|      Houston|            TX|           77015|
|       6336|Richard Maddox|       Caguas|            PR|             725|
|       1708|Margaret Booth|    Arlington|            TX|           76010|
+-----------+--------------+-------------+--------------+----------------+
only showing top 5 rows

customerDF.printSchema()

In [13]:
customerDF.select('customer_id','customer_name').show(5)

+-----------+--------------+
|customer_id| customer_name|
+-----------+--------------+
|      11039|   Mary Torres|
|       5623|    Jose Haley|
|       5829|    Mary Smith|
|       6336|Richard Maddox|
|       1708|Margaret Booth|
+-----------+--------------+
only showing top 5 rows

In [14]:
customerDF.filter(customerDF['customer_state']=='TX').show()

+-----------+-----------------+--------------------+--------------+----------------+
|customer_id|    customer_name|       customer_city|customer_state|customer_zipcode|
+-----------+-----------------+--------------------+--------------+----------------+
|       5829|       Mary Smith|             Houston|            TX|           77015|
|       1708|   Margaret Booth|           Arlington|            TX|           76010|
|        371|     Adam Marquez|         San Antonio|            TX|           78223|
|       1209|        Mary Webb|          San Marcos|            TX|           78666|
|       8688|    Michelle Rose|          Eagle Pass|            TX|           78852|
|       9756|       Mary White|              Dallas|            TX|           75228|
|       6252|      Kevin Smith|          Carrollton|            TX|           75006|
|       8582|     Edward Smith|             Houston|            TX|           77088|
|       3135|       Helen Ward|             Houston|            TX|           77093|
|       5960|   Margaret Smith|          Round Rock|            TX|           78664|
|       1076|   Tyler Thompson|          Fort Worth|            TX|           76116|
|       2159| Kimberly Sweeney|North Richland Hills|            TX|           76180|
|       2420|       Mary Smith|             Weslaco|            TX|           78596|
|       1870|    Tiffany Greer|            Amarillo|            TX|           79109|
|       6075|       Mary Smith|              Austin|            TX|           78753|
|      11363|       Frank Paul|             Garland|            TX|           75040|
|       4539| Jacqueline James|             Houston|            TX|           77083|
|      10460|    Mary Morrison|       New Braunfels|            TX|           78130|
|       8498|Joseph Pennington|             Baytown|            TX|           77520|
|        979|       Mary Smith|              Austin|            TX|           78745|
+-----------+-----------------+--------------------+--------------+----------------+
only showing top 20 rows

In [17]:
custTX=customerDF.select('customer_id','customer_name','customer_state').filter(customerDF['customer_state']=='MO')

In [18]:
custTX.count()

13

In [19]:
customerDF.createOrReplaceTempView("customers")

In [23]:
spark.sql('select*from customers').show()

+-----------+----------------+-------------+--------------+----------------+
|customer_id|   customer_name|customer_city|customer_state|customer_zipcode|
+-----------+----------------+-------------+--------------+----------------+
|      11039|     Mary Torres|       Caguas|            PR|             725|
|       5623|      Jose Haley|     Columbus|            OH|           43207|
|       5829|      Mary Smith|      Houston|            TX|           77015|
|       6336|  Richard Maddox|       Caguas|            PR|             725|
|       1708|  Margaret Booth|    Arlington|            TX|           76010|
|      10227|  Mary Henderson|       Caguas|            PR|             725|
|        839|     Lisa Walker|       Caguas|            PR|             725|
|       7604|   Jonathan Hill|      Phoenix|            AZ|           85040|
|       6485|Carolyn Sheppard|Pompano Beach|            FL|           33063|
|       4737|    Mary Mendoza|       Caguas|            PR|             725|
|       5973|   Michael Smith|       Caguas|            PR|             725|
|       9205|    James Holmes|     Hilliard|            OH|           43026|
|        138|     Mary Dawson|       Caguas|            PR|             725|
|        371|    Adam Marquez|  San Antonio|            TX|           78223|
|       9285|    Gloria Smith|       Caguas|            PR|             725|
|       1209|       Mary Webb|   San Marcos|            TX|           78666|
|       3021|  Nancy Alvarado|     Flushing|            NY|           11354|
|       3354|  Russell Flores|       Caguas|            PR|             725|
|      11684|    Denise Smith|    Rego Park|            NY|           11374|
|      11144|  Jose Dickerson|         Mesa|            AZ|           85201|
+-----------+----------------+-------------+--------------+----------------+
only showing top 20 rows